/*--------------------Navbar------------------*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 0 0;
}

.nav_menu {
  display: flex;
  grid-gap: 40px;
  list-style: none;
}

.active_link {
  color: #000;
  text-decoration: underline;
}

.logo {
  font-size: 20px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #000;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000;
  text-decoration: underline;
}

#nav:checked + .nav-open {
  transform: rotate(45deg);
  position: fixed;
  top: 24px;
  right: 0;
  z-index: 1000;
}

#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container {
  z-index: 999;
  opacity: 1;
}

#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}

/*-------------------Responsive------------------*/

@media screen and (max-width: 560px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #000;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-container ul {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    display: block !important;
  }

  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }

  .nav-open {
    position: relative;
    right: 0;
    top: -2px;
    display: block;
    width: 48px;
    height: auto;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
  }

  .nav-open i {
    display: block;
    width: 26px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 22px;
  }

  .nav-open i:nth-child(1) {
    margin-top: 4px;
  }

  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }

  .navbar {
    padding: 24px 0 0 0;
  }

  #nav:checked + .nav-open {
    right: 4vw;
  }
}

@media (min-width: 561px) and (max-width: 767px) {
  .navbar {
    padding: 24px 0 0 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    padding: 24px 0 0 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    padding: 24px 0 0 0;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .navbar {
    padding: 28px 0 0 0;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .navbar {
    padding: 32px 0 0 0;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .navbar {
    padding: 36px 0 0 0;
  }
}

@media (min-width: 1600px) {
  .navbar {
    padding: 40px 0 0 0;
  }

  nav ul li a {
    font-size: 18px;
  }
}

/* Preloader */

#preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.1s linear;
}

@keyframes pulse {
  0% {
    transform: scale(0.15);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.loader {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #000;
  animation: pulse 0.85s infinite linear;
  z-index: 1000;
}
