*{
  font-family: 'Poppins', sans-serif;
}

html, body {
	scroll-behavior: smooth;
}

img{
  width: 100%;
  height: auto;
}

*, ::before, ::after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

a, p, h1, h2, h3, h4, h6, h6, span{
  margin: 0;
  padding: 0;
}

body{
  margin:0;
  padding:0;
  height: 100%;
}

.inner_page{
  margin-left: 4vw;
  margin-right: 4vw;
}

::-moz-selection { /* Code for Firefox */
  color: #222325;
  background: #f6f6f6;
}

::selection {
  color: #222325;
  background: #f6f6f6;
}


/* intro */

.intro{
  margin-top: 100px;
  margin-bottom: 128px;
}

.intro h1{
  font-size: 42px;
  width: 60%;
  line-height: 56px;
  font-weight: 700;
}

#bordered_text{
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

#bordered_text:hover{
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: black;
  cursor: pointer;
}

.intro p{
  padding-top: 32px;
    font-size: 1.1em;
    font-weight: 300;
    width: 56%;
    line-height: 30px;
}

#bold_text{
  font-weight: 400;
}


/* work */

#works{
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.section{
  align-items: center;
  flex: 1 1 0%;
  display: grid;
  align-content: flex-start;
  width: auto;
  margin: 0;
}

/* For (zoom in) on hover effect */

/*
.work_item{  
  overflow: hidden; 
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #000;
}

.card {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.card:hover{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(0.99, 0.99, 1) rotateX(-0.00054deg) rotateY(0.0006deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

*/

.card{
  position: relative;
  margin: 0;
  overflow: hidden;
}

.card_image{
  object-fit: cover;
}


/*--------------Card Overlay------------*/

.card .card_overlay_one{
  background: rgb(0 66 138/0.94);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 8px;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.card:hover .card_overlay_one{
  opacity: 1;
}


.card .card_overlay_two{
  background: rgb(32 189 119/0.94);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 8px;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.card:hover .card_overlay_two{
  opacity: 1;
}

.card .card_overlay_three{
  background: rgb(12 163 130/0.94);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 8px;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.card:hover .card_overlay_three{
  opacity: 1;
}

.card .card_overlay_four{
  background: rgb(10 124 224/0.94);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 8px;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.card:hover .card_overlay_four{
  opacity: 1;
}

/*-------------- end of overlay -------------*/


.card_details {
  position: absolute;
  text-align: left;
  width: 100%;
  top: 8%;
  left: 58%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.card:hover .card_details{
  top: 15%;
  left: 57%;
  opacity: 1;
}

.card_title{
  color: #fff;
  font-weight: 400;
  margin-bottom: 8px;
}

.card_title i{
  padding-left: 4px;
}

.card_text{
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

.more_projects{
  padding-bottom: 4.4vw;
}

.work_navigation{
  text-align: center;
}

.work_nav_link{
  outline: none;
  color: #e3e3e3;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  padding: 12px;
}

.work_nav_link:hover{
  color: #000;
}

.active{
  color: #000;
}

/* footer */

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 52px;
  padding-bottom: 36px;
}

.all_rights span{
  font-size: 14px;
  font-weight: 300;
}

/*

.socials ul{
  display: flex;
  list-style: none;
  grid-gap: 24px;
}

.socials ul li a{
  text-decoration: none;
  font-size: 14px;
  color: #000;
  font-weight: 300;
}

.socials ul li a:hover{
  text-decoration: underline;
}

*/

.socials ul{
  display: flex;
  list-style: none;
}

.socials ul li{
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
}

.socials ul li a{
  color: #3c3e42;
}

.socials ul li a:hover{
  color: #000;
}

/* Image - Gallery */

.fancybox-button--thumbs{
  display: none !important;
}

.fancybox-button--play{
  display: none !important;
}


/*  Top content Project */

.cover{
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 510px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.project{
  display: flex;
  justify-content: center;
  align-items: center;
}

.project_content{
  width: 820px;
  padding-top: 20px;
  padding-bottom: 56px;
}

.project_section{
  padding-bottom: 56px;
  border-bottom: 1px solid #dfdfe1;
  margin-bottom: 48px;
}

.project_section h1{
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 20px;
}

.project_section p{
  font-size: 15px;
  line-height: 25px;
  font-weight: 200;
  padding-bottom: 44px;
  color: #000;
}


.project_info{
  display: flex;
  justify-content: space-between;
}

.content_section{
  padding-bottom: 40px;
}

.content_section h3{
  font-size: 22px;
  padding-bottom: 20px;
  font-weight: 500;
}

.content_section p{
  font-size: 15px;
  line-height: 25px;
  font-weight: 200;
  color: #000;
  padding-bottom: 16px;
}


/*---------- Go Top -----------*/


.go-top {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 40px;
  text-align: center;
  font-size: 32px;
  position: fixed;
  bottom: 30px;
  right: 28px;
  background-color: #f0f0f0;
  cursor: pointer;
  place-self: end;
  text-decoration: none;
  padding: 0;
  color: #505258;
  border-radius: 100px;
  z-index: 1;
}
  
.go-top.show { bottom: 20px; }
  
.go-top:hover {
  background-color: #000;;
  color: #fff;
  opacity: .9;
}

.go-top .glyphicon {
  top: 100px;
}

.top{
  font-size: 25px !important;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}



/* Preloader */

#preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.1s linear;
}


@keyframes pulse {
  0%{
    transform : scale(0.15);
    opacity: 0;
  }
  50%{
    opacity: 1 ;
  }
  100% {
    transform : scale(1);
    opacity:0;
  }
}

.loader{
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: #000;
  animation: pulse 0.85s infinite linear;
  z-index: 1000;
}



/*---------------- Responsive ---------------*/


@media screen and (max-width: 560px) {

  .intro{
    margin-top: 52px;
    margin-bottom: 38px;
  }

  .intro h1{
    font-size: 28px;
    width: 100%;
    line-height: 38px;
  }

  .intro p{
    padding-top: 18px;
    width: 100%;
    line-height: 25px;
    font-size: 1em;
  }

  #works{
    display: block;
  }

  .card{
    margin-top: 16px;
  }

  .card:hover .card_details {
    top: 18% !important;
    left: 58% !important;
  }
  
  .card_title{
    font-size: 1.13em;
    margin-bottom: 4px;
  }

  .card_text{
    font-size: 14px;
  }

  .footer{
    padding-top: 30px;
    padding-bottom: 24px;
  }

  .cover{
    height: 240px;
    margin-top: 24px;
    margin-bottom: 0;
  }

  .content_section {
    padding-bottom: 8px;
  } 

  .content_section h3 {
    font-size: 20px; 
  }

  .work_nav_link {
    font-size: 18px;
    padding: 0;
    margin-right: 24px;
  }

  .work_navigation{
    width: 90%;
    text-align: left;
    line-height: 32px;
  }

  .more_projects{
    padding-bottom: 32px;
  }

  .project_content {
    width: 100%;
    padding-top: 26px !important;
    padding-bottom: 24px;
  }

  .project_section p{
    padding-bottom: 32px !important;
  }

  .project_section{
    padding-bottom: 24px;
    margin-bottom: 32px;
  }
  
}

@media (min-width: 561px) and (max-width: 579px) {

  .intro{
    margin-top: 72px;
    margin-bottom: 72px;
  }

  .intro h1{
    font-size: 26px;
    width: 96%;
    line-height: 38px;
  }

  .intro p{
    padding-top: 20px;
    width: 100%;
    line-height: 25px;
    font-size: 1em;
  }

  .project_content {
    width: 100%;
    padding-top: 28px !important;
    padding-bottom: 24px;
  }
}

@media (min-width: 561px) and (max-width: 620px) {

  #works{
    display: block;
  }

  .card{
    margin-top: 18px;
  }

  .footer{
    padding-top: 36px;
    padding-bottom: 24px;
  }

  .cover{
    height: 280px;
    margin-top: 24px;
    margin-bottom: 0;
  }

  .content_section {
    padding-bottom: 24px;
  } 

  .content_section p{
    padding-bottom: 12px;
  }

  .content_section h3 {
    font-size: 20px; 
  }

  .project_content {
    width: 100%;
    padding-top: 28px !important;
    padding-bottom: 24px;
  }

  .work_nav_link {
    font-size: 18px;
    padding: 0;
    margin-right: 24px;
  }

  .work_navigation{
    width: 100%;
    text-align: left;
    line-height: 32px;
  }

  .more_projects{
    padding-bottom: 32px;
  }

  .card .card_overlay_one, .card .card_overlay_two, .card .card_overlay_three, .card .card_overlay_four{
    bottom: 6px;
  }

}

@media (min-width: 580px) and (max-width: 635px){
  
  .intro{
    margin-top: 72px;
    margin-bottom: 72px;
  }

  .intro h1{
    font-size: 26px;
    width: 96%;
    line-height: 38px;
  }

  .intro p{
    padding-top: 20px;
    width: 78%;
    line-height: 25px;
    font-size: 1em;
  }

  .project_content {
    width: 100%;
    padding-top: 28px !important;
    padding-bottom: 24px;
  }

}


@media (min-width: 636px) and (max-width: 779px){

  .intro{
    margin-top: 72px;
    margin-bottom: 72px;
  }

  .intro h1{
    font-size: 28px;
    width: 84%;
    line-height: 44px;
  }

  .intro p{
    padding-top: 20px;
    width: 78%;
    line-height: 26px;
    font-size: 1.1em;
  }

  .project_content {
    width: 100%;
    padding-top: 0 !important;
    padding-bottom: 24px;
  }



}

@media (min-width: 780px) and (max-width: 810px){

  .intro{
    margin-top: 76px;
    margin-bottom: 78px;
  }

  .intro h1{
    font-size: 30px;
    width: 86%;
    line-height: 42px;
  }

  .intro p{
    padding-top: 20px;
    width: 70%;
    line-height: 26px;
    font-size: 1.0em;
  }

  .project_content {
    width: 100%;
    padding-top: 0 !important;
    padding-bottom: 24px;
  }


}

@media (min-width: 811px) and (max-width: 991px){

  .intro{
    margin-top: 76px;
    margin-bottom: 78px;
  }

  .intro h1{
    font-size: 32px;
    width: 76%;
    line-height: 48px;
  }

  .intro p{
    padding-top: 20px;
    width: 70%;
    line-height: 26px;
    font-size: 1.0em;
  }

  .project_content {
    width: 100%;
    padding-top: 0 !important;
    padding-bottom: 24px;
  }


}

@media (min-width: 768px) and (max-width: 991px){


  .footer{
    padding-top: 38px;
    padding-bottom: 32px;
  }

  .cover{
    height: 320px;
    margin-top: 24px;
    margin-bottom: 0;
  }

  .content_section {
    padding-bottom: 32px;
  } 

  .content_section p{
    padding-bottom: 12px;
  }

  .content_section h3 {
    font-size: 20px; 
  }
  
  .project_content {
    width: 100%;
    padding-top: 32px !important;
    padding-bottom: 24px;
  }

  .work_nav_link {
    font-size: 18px;
    padding: 0;
    margin-right: 24px;
  }

  .work_navigation{
    width: 100%;
    text-align: left;
    line-height: 32px;
  }

  .more_projects{
    padding-bottom: 32px;
  }

  .card .card_overlay_one, .card .card_overlay_two, .card .card_overlay_three, .card .card_overlay_four{
    bottom: 6px;
  }

}

@media (min-width: 992px) and (max-width: 1199px) { 

  .intro{
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .intro h1{
    font-size: 40px;
    width: 78%;
    line-height: 56px;
  }

  .intro p{
    padding-top: 20px;
    width: 74%;
  }

  .footer{
    padding-top: 40px;
    padding-bottom: 32px;
  }

  .cover{
    height: 360px;
    margin-top: 28px;
    margin-bottom: 0;
  }

  .content_section {
    padding-bottom: 32px;
  } 

  .content_section p{
    padding-bottom: 16px;
  }

  .content_section h3 {
    font-size: 20px; 
  }
  
  .project_content {
    padding-top: 40px;
    padding-bottom: 48px;
  }

  .work_nav_link {
    font-size: 20px;
    padding: 16px;
  }

  .more_projects{
    padding-bottom: 40px;
  }

  .card .card_overlay_one, .card .card_overlay_two, .card .card_overlay_three, .card .card_overlay_four{
    bottom: 6px;
  }

  .footer{
    padding-top: 40px;
    padding-bottom: 36px;
  }

}

@media (min-width: 1200px) and (max-width: 1399px) { 

  .cover{
    height: 480px;
    margin-top: 32px;
    margin-bottom: 0;
  }

  .content_section {
    padding-bottom: 32px;
  } 
  
  .content_section h3 {
    font-size: 22px;
    padding-bottom: 20px;
  }

  .project_content {
    padding-top: 48px;
    padding-bottom: 56px;
  }

  .work_nav_link {
    font-size: 20px;
    padding: 16px;
  }

  .more_projects{
    padding-bottom: 40px;
  }

  .card .card_overlay_one, .card .card_overlay_two, .card .card_overlay_three, .card .card_overlay_four{
    bottom: 6px;
  }
  
  .footer{
    padding-top: 40px;
    padding-bottom: 36px;
  }

  .intro h1{
    width: 70%;
  }

  .intro p{
    width: 64%;
  }

}

@media (min-width: 1400px) and (max-width: 1599px) { 

  .intro h1{
    font-size: 44px;
    width: 60%;
    line-height: 62px;
  }

  .intro p{
    width: 54%;
  }

  .project_content{
    width: 820px;
  }

}


@media (min-width: 1600px) { 

  .intro h1{
    font-size: 44px;
    width: 54%;
    line-height: 60px;
  }

  .intro p{
    width: 48%;
  }

  .project_content{
    width: 820px;
  }

  .cover{
    height: 580px;
  }
  

}




