.line{
  font-size: 0.92em;
  font-weight: 200;
}

.line span{
  font-weight: 400;
  font-size: 0.96em;
}

#bold{
  padding: 0 6px 0 6px;
  font-weight: 500;
  color: #333;
}

.details{
  position: absolute;
  left: 0%;
  top: auto;
  right: 0;
  bottom: 0%;
  min-width: 12%;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  grid-gap: 18em;
  justify-content: center;
}

.paragraph{
  position: absolute;
  left: 0%;
  top: 25vh;
  right: auto;
  color: #fff;
  line-height: 45px;
  font-weight: 600;
  font-size: 32px;
  width: 34vw;
  margin: 0;
  padding-left: 2.5em;
}

.details_desc span{
  opacity: 0.6;
  font-weight: 600;
}

.details_desc{
  display: grid;
}
  
.wireframes_sketches{
  display: flex;
  padding: 28px 0 38px 0;
  grid-gap: 16px;
}

.wireframes_sketches a{
  width: 50%;
  height: 100%;
}

.ideation{
  padding: 28px 0 32px 0;
}
  
.brainstorming{
  height: 368px;
}

#old_new_inspect{
  width: 100%;
  height: 480px;
}

.overview{
  padding: 36px 0 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.digital_img{
  width: 250px;
  height: 480px;
}

.paper_img{
  width: 380px;
  height: 520px;
}

.key_needs{
  padding: 28px 0 24px 0;
}

.solutions{
  padding: 24px 0 24px 0;
}

.competative_analysis{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 56px;
  padding: 28px 0 32px 0;
}

.fleet_go_img{
  width: 132px;
  height: auto;
}

.go_audits_img{
  width: 144px;
  height: auto;
}

.tcheck_img{
  width: 120px;
  height: auto;
}

.user_journey{
  padding: 20px 0 30px 0;
}

.user_flow{
  padding: 24px 0 16px 0;
}

.sitemap{
  padding: 22px 0 34px 0;
}

.challange{
  display: flex;
  align-items: center;
  padding: 32px 0 46px 0;
}

#challenge_text{
  font-weight: 400;
  color: #494a4d;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
}

.border_left{
  width: 12px;
  height: 80px;
  flex: 0 0 auto;
  background-color: #f0f0f0;
  color: #e2e2e2;
  margin-right: 36px;
}

.insights{
    padding: 16px 0 32px 0;
}

.process{
  padding: 32px 0 46px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#process_img{
  height: auto;
  width: 650px;
}

.figma_file{
  height: 460px;
  padding: 24px 0 16px 0;
}

.customer_view{
  padding: 60px 0 56px 0;
}

.customer_view p{
  font-size: 14px;
  padding: 40px 0 0 0;
  font-style: italic; 
  text-align: center;
}

.vecheck_gif{
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapped_gif{
  height: 480px;
  width: auto;
}

.mechanic_app{
  padding: 16px 0 36px 0;
}

.web_app{
  padding: 36px 0 64px 0;
}



/*---------------- Responsive ---------------*/



@media screen and (max-width: 560px) {

  #old_new_inspect {
    height: 220px;
  }

  .overview{
    padding: 8px 0 26px 0;
  }

  .brainstorming{
    height: 172px;
  }

  .wireframes_sketches {
    grid-gap: 12px;
    padding: 8px 0 26px 0;
  }

  .ideation {
    padding: 8px 0 26px 0 !important;
  }

  .user_flow{
    padding: 12px 0 16px 0;
  }

  .go-top{
    width: 40px !important;
    height: 40px !important;
    line-height: 32px !important;
  }

  .border_left{
    height: 124px;
    margin-right: 20px;
  }

  .project_info{
    display: block !important;
  }

  .line{
    padding-bottom: 16px !important;
  }

  .challange{
    padding: 16px 0 32px 0
  }

  .key_needs{
    padding: 8px 0 24px 0;
  }

  .insights{
    padding: 0px 0 24px 0;
  }

  .solutions{
    padding: 8px 0 24px 0;
  }

  .competative_analysis{
    padding: 32px 0 40px 0;
    grid-gap: 24px;
  }
  
  .fleet_go_img{
    width: 78px;
  }

  .go_audits_img{
    width: 88px;
  }

  .tcheck_img{
    width: 68px;
  }

  .user_journey{
    padding: 8px 0 28px 0;
  }

  .sitemap{
    padding: 12px 0 24px 0;
  }

  .process{
    padding: 16px 0 34px 0;
  }

  #process_img{
    width: calc(100% - 20px);
  }

  .figma_file{
    height: 360px !important;
    padding: 8px 0 0 0 !important;
  }

  .customer_view{
    padding: 32px 0 32px 0;
  }

  #wrapped_gif{
    height: 360px;
    width: auto;
  }

  .customer_view p{
    padding: 24px 0 0 0 !important;
  }

  .mechanic_app{
    padding: 8px 0 16px 0;
  }

  .web_app{
    padding: 16px 0 40px 0;
  }
  
}

@media (min-width: 561px) and (max-width: 767px) {

  #old_new_inspect {
    height: 300px;
  }
   
  .overview{
    padding: 20px 0 8px 0;
  }

  .brainstorming{
    height: 260px;
  }
  
  .ideation_images {
    padding: 20px 0 8px 0;
  }

  .user_flow{
    padding: 20px 0 0 0;
  }

  .sketches_img, .wireframes_img{
    height: 180px;
  }

  .competative_analysis{
    padding: 20px 0 12px 0;
  }
  
  .fleet_go_img{
    width: 110px;
  }

  .go_audits_img{
    width: 124px;
  }

  .tcheck_img{
    width: 106px;
  }

  .cover{
    height: 260px !important;
  }

  .border_left{
    height: 110px;
    margin-right: 28px;
  }

  .challange{
    padding: 16px 0 8px 0;
  }

  .go-top{
    width: 40px !important;
    height: 40px !important;
    line-height: 32px !important;
  }

  #process_img{
    width: 480px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  #old_new_inspect {
    height: 360px;
  }
   
  .overview{
    padding: 22px 0 8px 0;
  }

  .brainstorming{
    height: 320px;
  }

  .ideation{
    padding: 22px 0 8px 0 !important;
  }

  .user_flow{
    padding: 12px 0 0 0;
  }

  .user_journey{
    padding: 0px 0 8px 0;
  }

  .sketches_img, .wireframes_img{
    height: 240px;
  }

  .paper_img{
    width: 320px;
    height: 440px;
  }

  .digital_img{
    width: 220px;
    height: 420px;
  }

  .challange{
    padding: 24px 0 20px 0;
  }

  .key_needs{
    padding: 28px 0 0 0;
  }

  .solutions{
    padding: 20px 0 8px 0;
  }

  .wireframes_sketches{
    padding: 24px 0 16px 0;
  }

  .competative_analysis{
    padding: 28px 0 16px 0;
  }

  .sitemap{
    padding: 12px 0 16px 0;
  }

  .go-top{
    width: 42px !important;
    height: 42px !important;
    line-height: 32px !important;
  }

  .process{
    padding: 24px 0 32px 0;
  }

  #process_img{
    width: 620px;
  }

  .figma_file{
    height: 460px;
    width: auto !important;
    padding: 28px 0 16px 0;
  }

}

@media (min-width: 992px) and (max-width: 1199px) { 
  #old_new_inspect {
    height: 400px;
  }
   
  .overview{
    padding: 26px 0 20x 0;
  }

  .brainstorming{
    height: 380px;
  }

  .wireframes_sketches{ 
    grid-gap: 12px;
    padding: 26px 0 20px 0;
  }
  
  .ideation{
    padding: 26px 0 20px 0;
  }

  .user_flow{
    padding: 26px 0 0 0;
  }

  .sketches_img, .wireframes_img{
    height: 280px;
  }

  .digital_img{
    width: 260px;
    height: 480px;
  }

  .paper_img{
    width: 360px;
    height: 480px;
  }


}

@media (min-width: 1200px) and (max-width: 1399px) { 
  #old_new_inspect {
    height: 460px;
  }
   
  .overview{
    padding: 28px 0 8px 0;
  }

  .brainstorming{
    height: 400px;
  }

  .wireframes_sketches{ 
    grid-gap: 12px;
    padding: 26px 0 8px 0;
  }
  
  .ideation{
    padding: 28px 0 8px 0;
  }

  .user_flow{
    padding: 28px 0 0 0;
  }

  .sketches_img, .wireframes_img{
    height: 300px;
  }
}


